.section-2 {
    display: block;
    width: 80vw;
    height: auto;
    margin: 2% auto;
}

.section-2__heading h3,
.section-2__heading hr {
    font-size: 14px;
    color: #F59E0B;
    border-color: #F59E0B;
}

.section-2__flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 2%;
    align-items: center;
}

.featured-house h1 {
    font-size: 32px;
    color: #1B1C57;
}

.category {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 30vw;
    align-items: center;
}

.category__button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 5vh;
}

.category__button-active {
    padding-left: 5%;
    padding-right: 5%;
    background: #D1FAE5;
    border-radius: 32px;
}

.category__button-no-active {
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #E0E3EB;
    border-radius: 32px
}

.category__img {
    display: block;
    width: auto;
    height: auto;
    padding-right: 10%;
}

.category__button-active h2 {
    font-size: 18px;
    color: #10B981;
}

.category__button-no-active h2 {
    font-size: 18px;
    color: #888B97;
}

.arrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 7vw;
    height: auto;
    align-content: center;
}

.arrow__left {
    display: flex;
    background-color: #E0E3EB;
    align-items: center;
    width: auto;
    height: min-content;
    text-align: center;
    border-radius: 32px;
    padding-left: 12%;
    padding-right: 12%;
}

.arrow__right {
    display: flex;
    background-color: #10B981;
    align-items: center;
    width: auto;
    height: min-content;
    text-align: center;
    border-radius: 32px;
    padding-left: 12%;
    padding-right: 12%;
}

.arrow__left h3 {
    font-size: 18px;
    color: #3C4563;
}

.arrow__right h3 {
    font-size: 18px;
    color: #FFFFFF;
}

.house__container {
    display: block;
    width: 100vw;

}

.house__flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 104%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
}

.house__box {
    display: block;
    position: relative;
    width: 23vw;
    height: auto;
}

.house__img {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
}

.house__img-1 {
    width: 100%;
    height: 100%;
}

.house__img-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 5vw;
    height: 4vh;
    bottom: 3%;
    left: 3%;
    padding-left: 4%;
    padding-right: 4%;

}

.house__img-block-img {
    display: block;
    width: 1vw;
    height: auto;
}

.house__img-block-img img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.house__img-block-1 {
    background: #FEE2E2;
    border-radius: 32px;
}

.house__img-block-1 p {
    font-size: 14px;
    color: #EF4444;
}

.house__img-block-2 {
    background: #DBEAFE;
    border-radius: 32px;
}

.house__img-block-2 p {
    font-size: 14px;
    color: #1D4ED8;
}

.house__img-block-3 {
    background: #D1FAE5;
    border-radius: 32px;
}

.house__img-block-3 p {
    font-size: 14px;
    color: #047857;
}

.house__img-block-4 {
    background: #FEE2E2;
    border-radius: 32px;
}

.house__img-block-4 p {
    font-size: 14px;
    color: #EF4444;
}

.house__name h2 {
    font-size: 24px;
    color: #0E1735;
}

.house__price h3 {
    font-size: 20px;
    color: #3C4563;
}

.house__author {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    align-items: center;
}

.house__author-img {
    display: block;
}

.house__author-img img {
    width: 100%;
    height: auto;
}
.house__author-text {
    display: block;
    margin-left: 4%;
}
.house__author-text h2 {
    font-size: 18px;
    color: #0E1735;
    margin-top: 1%;
    margin-bottom: 1%;
}

.house__author-text p {
    font-size: 14px;
    color: #888B97;
    margin-top: 1%;
    margin-bottom: 1%;
}